//- 
	404 PUG PAGE
	author: Jeanne Payoyo
	date: June 10, 2021
	course: CPRG 210 nodeJS
	description: 404 pug page converted from html is called upon an error
extends layout.pug
block title
	title healthybird Page Not Found
block append content
	.pic404.top-pic
		h1.top-text
			| Page Not Found
