//- 
	ABOUT PUG PAGE
	author: Jeanne Payoyo
	date: June 10, 2021
	course: CPRG 210 nodeJS
	description: about pug page converted from html
extends layout.pug
block title
	title healthybird About
block append content
	.about-pic.top-pic
		h1.top-text About
	.hp-intro
		h2 Our Values
		p Our core values at healthybird are focused on the health of our clients and the quality of our food. Let's take care of ourselves and our planet!
	div(class="container" style="margin-bottom:40px")
		.row.text-center
			.col-sm-6
				ion-icon(name="happy-outline" class="jp-icon")
				h5 Delicious
				p We pride ourselves in providing you tasty recipes
			.col-sm-6
				ion-icon(name="heart-outline" class="jp-icon")
				h5 Healthy
				p Our recipes are always approved by licensed nutritionists
		.row.text-center
			.col-sm-6
				ion-icon(name="earth-outline" class="jp-icon")
				h5 Sustainable
				p Our ingredients are fresh and sourced locally
			.col-sm-6
				ion-icon(name="leaf-outline" class="jp-icon")
				h5 Zero-Waste
				p All our packaging is recyclable or compostable