<!-- HOMEPAGE PART 2 -->
<!-- author: Jeanne Payoyo-->
<!-- date: June 10, 2021 -->
<!-- course: CPRG 210 nodeJS -->
<!-- description: part 2 of 2 of the homepage -->

<!-- SHORT INTRO -->
		<div class="hp-intro">
			<h2>Eat what you want</h2>
			<p>Our experts help you make a tasty mealplan that fits your personalized nutritional needs. Our chefs have prepared tons of delicious recipes for everyone!</p>
		</div>
		
		
		<!-- MEALS -->
		<div class="container">
			<div class="row text-center">
				<div class="col-sm-4 meal-day">
					<!-- <img src="images/potato.jpg" alt="Breakfast Photo" /> -->
					<img src="potato.jpg" alt="Breakfast Photo" />
					<h4>Breakfast</h4>
					<p>Start your day off right with a tasty meal: choose from something as light as yogurt with granola or as heavy as breakfast poutine!</p>
				</div>
				<div class="col-sm-4 meal-day">
					<!-- <img src="images/salmon-pierogi.jpg" alt="Breakfast Photo" /> -->
					<img src="salmon-pierogi.jpg" alt="Breakfast Photo" />
					<h4>Lunch</h4>
					<p>Take a break and have a meal that'll keep you going: select your choice of protein, carb, and pair them with a great tasting salad!</p>
				</div>
				<div class="col-sm-4 meal-day">
					<!-- <img src="images/eel.jpg" alt="Breakfast Photo" /> -->
					<img src="eel.jpg" alt="Breakfast Photo" />
					<h4>Dinner</h4>
					<p>Complete your day with an nutritious meal! Nothing beats enjoying a delicious and easy-to-cook meal at the end of a hard day.</p>
				</div>
			</div>
		</div>
		
		<!-- OUR PROCESS -->
		<div class="hp-intro">
			<h2>Our Process</h2>
			<p>Getting started with healthybird is easy!</p>
		</div>
			<div class="container">
				<div class="row text-center">
					<!-- <div class="col-sm"></div> -->
					<div class="col-sm-4">
						<ion-icon name="chatbubbles-outline" class="jp-icon"></ion-icon>
						<h5>Step 1</h5>
						<p>Talk to our health coaches and create a meal plan that works for you</p>
					</div>
					<div class="col-sm-4">
						<ion-icon name="cart-outline" class="jp-icon"></ion-icon>
						<h5>Step 2</h5>
						<p>We buy the ingredients - just wait for the package to arrive at your door</p>
					</div>
					<div class="col-sm-4">
						<ion-icon name="restaurant-outline" class="jp-icon"></ion-icon>
						<h5>Step 3</h5>
						<p>Follow the recipe prepared by our chefs and enjoy a delicious and healthy meal!</p>
					</div>
				</div>
			</div>
			
		<!-- BOTTOM SECTION -->
		<div class="hp-intro">
			<h2>Eat well together</h2>
			<p>Join our thriving community and get access to weekly mealplans with plenty of dietary options. By referring your friends and family, you can save on your food!</p>
			<p>Connect with us on social media</p>
			<p>
				<a href="#"><ion-icon name="logo-facebook" class="jp-icon jp-social"></ion-icon></a>
				<a href="#"><ion-icon name="logo-twitter" class="jp-icon jp-social"></ion-icon></a>
				<a href="#"><ion-icon name="logo-instagram" class="jp-icon jp-social"></ion-icon></a>
			</p>
		</div>
	
		<!-- FOOTER -->
		<footer>Copyright healthybird &copy;</footer>
		
	</body>
	
</html>