//- 
	THANKYOU PUG PAGE
	author: Jeanne Payoyo
	date: June 10, 2021
	course: CPRG 210 nodeJS
	description: thankyou pug page converted from html
extends layout.pug
block title
	title healthybird Thank you
block append content
	.ty-pic.top-pic
		h1.top-text Thank You
	.hp-intro
		h2 Next Steps
		p Thank you for your submission! We will get back to you soon.
		p Connect with us on social media
		p
			a(href="#")
				ion-icon(name="logo-facebook" class="jp-icon jp-social")
			a(href="#")
				ion-icon(name="logo-twitter" class="jp-icon jp-social")
			a(href="#")
				ion-icon(name="logo-instagram" class="jp-icon jp-social")